@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<LABWEB.Models.Entities.News>

<h1>News</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>HeadLine</th>
            <th>Text</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.Id</td>
                <td>@news.HeadLine</td>
                <td>@news.Text</td>
                <td>@news.Date</td>
                <td>@news.Author</td>
                <td>
                    <a class="btn btn-primary" asp-controller="News" asp-action="Edit" asp-route-id="@news.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Comments" asp-action="List" asp-route-id="@news.Id">Comments</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Comments" asp-action="Add" asp-route-id="@news.Id">Add Comments</a>
                </td>
            </tr>
        }
    </tbody>
</table>