@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@model List<LABWEB.Models.Entities.News>
<h1>News</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>HeadLine</th>
            <th>Text</th>
            <th>Date</th>
            <th>Author</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model)
        {
            <tr>
                <td>@news.Id</td>
                <td>@news.HeadLine</td>
                <td>@news.Text</td>
                <td>@news.Date</td>
                <td>@news.Author</td>
                <td>@news.Categories.Category</td>
                <td>
                    <a class="btn btn-primary" asp-controller="News" asp-action="Edit" asp-route-id="@news.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Comments" asp-action="List" asp-route-id="@news.Id">Comments</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Comments" asp-action="Add" asp-route-id="@news.Id">Add Comments</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="continer">
    @if(pager.TotalPages >0)
    {
        <ul class="pagination justify-content-end">

            @if(pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="News" asp-action="List" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="News" asp-action="List" asp-route-pg="@(pager.CurrentPage-1)" >Previous</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage? "active" : "")">
                    <a class="page-link" asp-controller="News" asp-action="List" asp-route-pg="@pge">@pge</a>
                </li>
            }

            @if(pager.CurrentPage <pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="News" asp-action="List" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="News" asp-action="List" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>