@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<LABWEB.Models.Entities.Categories>
<h1>Categories</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categories in Model)
        {
            <tr>
                <td>@categories.Id</td>
                <td>@categories.Category</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@categories.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Categories" asp-action="List" asp-route-id="@categories.Id">Comments</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Categories" asp-action="NewsList" asp-route-id="@categories.Id">News</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Categories" asp-action="Add">Add category</a>